# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env
.env.*

# AWS credentials
credentials
config
.aws/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

#Secret files
secrets/*

# Gemini API keys
.env